/* width: 222px;
height: 222px;.main {
  width: 100%;
} */
.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  flex-wrap: wrap;
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;
  background-image: url("https://s3-alpha-sig.figma.com/img/c799/48dc/28a9087ca1bf2f25bae2ffbbb6fda6ee?Expires=1693785600&Signature=mdGuZ56ijYAbkXxicay~udCsoH~ZsX8lJ6JMYb0rSRxckoqUw65v7x0sjicCfTHHEgFNS4tmGhlLqZ5wq6TZnluMGVcqEiWv5vgl2ynA4DVXGo0roUJsuCOzi8aoqJnza-l2PFAvbbHzI~6Xhw9-vjLvBRWQyet54l5yBE8ZAk0hYTd2KGbcKffpe602idi6fJUDtyYMs4JAe3hV0bhVAnXwooZDVvnIWZ77pap1a8uS-i6HKRZYx1Jxcbno0lNgsoh778h-6lwcStmfUYSOG1rPZVoqtZIBEyj1pbOS4LgnX~fBX-E-rQvVLvHnDzqUauDjQeve~WMb5Gsyblp8lw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

.title {
  width: 55%;
}

.line-div {
  top: 102.68px;
  left: 727.98px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 146.32px;
  height: 2px;
}

.grandLine {
  top: 102.68px;
  left: 727.98px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 2px;
}

.dateInicio {
  display: flex;
  width: 130px;
  height: 29px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.dateInicio p {
  color: var(--color-darkseagreen);
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ale-vivi {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-darkslategray-100);
  font-family: Cookie;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.frase-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frase-container .frase {
  color: #8A9669;
  text-align: center;
  font-family: Open Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.layoutCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
}

.contadorg-icon {
  width: 574.913px;
  height: 539px;
  flex-shrink: 0;
  position: absolute;
  top: 91%;
  left: 24%;
  overflow: hidden;
}

.curvas01-2-icon {
  width: 100%;
}

.lineas01-2-icon {
  display: flex;
  width: 100%;
  height: 344.752px;
  padding: 1px 0px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.frame-parent {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  gap: 43px 45px;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-top: 15%;
}

.agenda {
  width: 525px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 54px;
  flex-shrink: 0;
}

.circleAgenda {
  width: 222px;
  height: 222px;
  align-items: center;
  fill: #bebebe;
  background: #f6f6f6;
  border-radius: 100%;
  filter: drop-shadow(1px 4px 10px rgba(0, 0, 0, 0.25));
  margin-left: 20%;
  margin-top: 5%;
}

.tag {
  display: flex;
  width: 377px;
  height: 81px;
  margin-top: 5%;
  transform: translateX(5%);
}

.rectangle {
  display: flex;
  width: 313px;
  height: 81px;
  flex-shrink: 0;
  background: var(--color-gray-100);
  align-items: center;
}

.tagH3 {
  width: 197px;
  color: #FFF;
  text-align: center;
  font-family: Cookie;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translateX(27%);
}

.arrowLeft {
  width: 32px;
  height: 70.134px;
  transform: rotate(-179.98deg);
  flex-shrink: 0;
  fill: var(--color-gray-100);
}

.arrowRight {
  width: 32px;
  height: 70.134px;
  flex-shrink: 0;
  fill: var(--color-gray-100);
}

.ItemsAgenda {
  width: 402px;
  /* height: 193px; */
  margin-top: 5%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.ItemsAgenda h2 {
  color: #5a7e6d;
  text-align: center;
  font-family: Open Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ItemsAgenda p {
  display: flex;
  width: 402px;
  /* height: 55px; */
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #5a7e6d;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btnAgendar {
  display: flex;
  width: 313px;
  height: 37px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 22px;
  background: #767B35;
}

.curves02 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 5%;
}

.photos {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0px 78px;
  flex-shrink: 0;
  flex-wrap: wrap;
  padding: 0px 35px;
}

.photos h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #5C654F;
  font-family: Cookie;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.photos p {
  flex-shrink: 0;
  color: #353A2E;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  background: #f2f2f2;
}

.wrapper i:first-child {
  left: -22px;
  display: none;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 14px;
  width: 33.3333333333%;
}

.carousel img:first-child {
  margin-left: 0px;
}

.suggestions, .summary {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.suggestions h2, .summary h2 {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  color: #5C654F;
  font-family: Cookie;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.suggestions p, .summary p {
  flex-shrink: 0;
  color: #353A2E;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.itemsParty {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 70px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.cards {
  border-radius: 25px;
  background: #F5F5F5;
  padding: 2% 2% 2% 2%;
}

.cards:first-child {
  margin-left: 4%;
}

.cards h2 {
  color: #22443F;
  text-align: center;
  font-family: Open Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cards img {
  width: 100%;
  height: 100px;
  flex-shrink: 0;
}

.cards p {
  display: flex;
  width: 291px;
  height: 52px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #2f4731;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gifts button,
.cards button {
  display: flex;
  width: 313px;
  height: 37px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 22px;
  background: #767B35;
}

.curvas {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.gifts h2 {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  color: #5C654F;
  font-family: Cookie;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gifts p {
  flex-shrink: 0;
  color: #353A2E;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gifts {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-shrink: 0;
  flex-direction: column;
}

.gifts img {
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  margin-bottom: 2%;
}

.socialMedia {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../public/background01.jpg"), lightgray 50%/cover no-repeat;
}

.socialMedia h3,
.socialMedia h2 {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  color: #5C654F;
  font-family: Cookie;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.socialMedia p {
  flex-shrink: 0;
  color: #353A2E;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.socialMedia .icon {
  width: 100%;
  height: 100px;
  flex-shrink: 0;
}

.socialMedia button {
  display: flex;
  width: 313px;
  height: 37px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
  border: none;
  border-radius: 22px;
  background: #767B35;
}

.whiteCurve01 {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.summary {
  margin-bottom: 3%;
}

.summary h2 {
  color: #22443F;
  font-family: Cookie;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.summary p {
  color: #767B35;
  text-align: center;
  font-family: Open Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: 50%;
  }
  .line-div {
    width: initial;
  }
  .dateInicio {
    display: flex;
    flex-direction: row;
    width: initial;
  }
  .dateInicio p {
    font-size: 18px;
  }
  .ale-vivi {
    font-size: 44px;
  }
  .grandLine {
    visibility: hidden;
  }
  .comilla-apertura-1-icon {
    width: 46px;
    height: 40px;
    flex-shrink: 0;
  }
  .frase-container .frase {
    font-size: 1rem;
  }
  .contadorg-icon {
    width: 400.913px;
    height: 400px;
  }
}
@media screen and (max-width: 500px) {
  .carousel img {
    width: 100%;
  }
  .contadorg-icon {
    left: 0%;
    top: 59%;
  }
  .summary h2,
  .gifts h2,
  .suggestions .titleSuggestions,
  .summary .titleSuggestions,
  .photos h2 {
    font-size: 50px;
  }
  .summary span p,
  .gifts p,
  .suggestions .contentSuggestions,
  .summary .contentSuggestions,
  .photos p {
    font-size: 13px;
  }
  .socialMedia h2, .socialMedia h3 {
    font-size: 37px;
  }
  .socialMedia p {
    font-size: 15px;
  }
}/*# sourceMappingURL=index.css.map */